body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.progress-bar {
  width: 80%;
  height: 0.75rem;
  background-color: lightgray;
  border-radius: 0.5rem;
}

.progress {
  width: 0%;
  height: 100%;
  background-color: lightgreen;
  border-radius: 0.5rem;
}

.btn {
  padding: 0.5rem 2rem;
}

.btn-grp {
  display: flex;
  gap: 1rem;
}
