body {
  font-family: sans-serif;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app-header {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.theme-btn {
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--white);
  border-color: transparent;
  border-radius: 0.5rem;
}

.app-title {
  color: var(--primary-color);
  text-align: center;
}

.kanban {
  display: flex;
  width: 70%;
  background-color: var(--primary-color);
  color: var(--white);
  padding: 1rem;
  border-radius: 0.5rem;
}

.kanban-column {
  flex: 1;
}

.kanban-column:not(:last-child) {
  margin-right: 5rem;
}

.column-title {
  font-size: 1.75rem;
  font-weight: 200;
  margin-bottom: 1rem;
  user-select: none;
  text-align: center;
}

.item-title {
  background-color: var(--white);
  color: black;
  padding: 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.dropzone {
  height: 0.75rem;
  transition: all 0.15s ease;
}

.dropzone.active {
  height: 4rem;
  background-color: var(--drop-zone-bg);
}

.add-btn {
  width: 100%;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  border-color: transparent;
  font-size: 1rem;
  cursor: pointer;
  background-color: var(--btn-bg-color);
  color: var(--white);
}
