* {
  margin: 0;
}

body {
  font-family: sans-serif;
}

#root {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.slot {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.line {
  border-top: 1px solid lightgray;
  width: 100%;
}

.event {
  position: absolute;
  left: 5rem;

  width: 100%;
  background-color: lightcoral;
  color: white;
  border-radius: 0.5rem;
  text-align: center;
}
