* {
  margin: 0;
}

body {
  font-family: sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0.5rem;
}

.slot {
  display: flex;
  gap: 1rem;
}

.time {
  width: 3rem;
  text-align: right;
}

.slot-events {
  position: relative;

  border-top: 1px solid lightgray;
  width: 100%;
}

.event {
  position: absolute;

  width: 100%;
  background-color: lightcoral;
  color: white;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  z-index: 1;
}

.overlap-event {
  right: 0;
  border: 1px solid white;
}

.mr-1 {
  margin: 0.5rem;
}
