* {
  margin: 0;
}

body {
  font-family: sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.slot {
  display: flex;
  gap: 1rem;
}

.time {
  width: 3rem;
  text-align: right;
}

.slot-events {
  position: relative;
  border-top: 1px solid lightgray;
  width: 100%;
}

.event {
  position: absolute;

  width: 100%;
  background-color: lightcoral;
  color: white;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
