* {
    margin: 0;
    box-sizing: border-box;
}

.heading {
    padding: 0.5rem;
    text-align: center;
}

.layout {
    display: grid;
    grid-template-columns: 15% 35% 50%;
    height: 100vh;
}

.side-bar {
    display: flex;
    flex-direction: column;
}

.email-type {
    text-decoration: none;
    color: black;
    padding: 0.5rem 1rem;
}

.email-type:hover {
    background-color: #f1f1f1;
}

.mails {
    padding: 1rem;
}