* {
    margin: 0;
    box-sizing: border-box;
}

.heading {
    padding: 0.5rem;
    text-align: center;
}

.layout {
    display: grid;
    grid-template-columns: 15% 35% 50%;
    height: 100vh;
}

.side-bar {
    display: flex;
    flex-direction: column;
}

.email-type {
    text-decoration: none;
    color: black;
    padding: 0.5rem 1rem;
}

.email-type.active {
    background-color: #f1f1f1;
}

.email-type:hover {
    background-color: #f1f1f1;
}

.mails {
    border: 1px solid #f1f1f1;
}

.mails ul {
    padding: 0;
}

.mail {
    list-style: none;
    padding: 1rem;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    cursor: pointer;
}

.mail.active {
    background-color: #f1f1f1;
}

.line-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.mail-details {
    padding: 1rem;
}

.actions {
    margin-top: 1rem;
}